@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization
@using AccountingManagement.UI.Maui.Components.Layout 
@inject I18nText TextService

<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated == false)
                {
                    <RedirectToLogin /> 
                }
                else
                {
                    <div class="p-4">
                        <p role="alert" class="text-red-600">@Localizer["NotAuthorizedMessage", context.User.Identity?.Name ?? ""]</p>
                    </div>
                }
            </NotAuthorized>
            <Authorizing>
                <div class="p-4">
                    <p>@Localizer["AuthorizingMessage"]</p>
                </div>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>@Localizer["NotFoundTitle"]</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="p-4">
                <p role="alert" class="text-lg">@Localizer["NotFoundMessage"]</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>