@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization
@using AccountingManagement.Components.Layout // Ensure MainLayout is accessible
@using AccountingManagement.LocalizationResources
@inject IStringLocalizer<AppStrings> Localizer

<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated == false)
                {
                    <RedirectToLogin /> @* Component to handle redirection *@
                }
                else
                {
                    <p role="alert">@Localizer["NotAuthorizedMessage", context.User.Identity?.Name ?? ""]</p>
                }
            </NotAuthorized>
            <Authorizing>
                <p>@Localizer["AuthorizingMessage"]</p>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>@Localizer["NotFoundTitle"]</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">@Localizer["NotFoundMessage"]</p>
        </LayoutView>
    </NotFound>
</Router>